{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
  

    {% endblock %}
    
</head>


<body>
    
    <section class="main_nav">
        <div class="home">
            <a href="{% url 'main:main_page' %}">Home</a>
        </div>
        <div class="nav">
           <a href="{% url 'main:main_page' %}">Home</a>
           <a href="{% url 'main:properties_page' %}">Properties</a>
           <a href="">Services</a>
           <a href="">About</a>
           <a href="{% url 'main:contact_page' %}">Contact</a> 
        </div>
        <div class="icons">
            <span class="material-symbols-outlined">person</span>
            <a href="">Sign up</a>
            <span class="material-symbols-outlined">light_mode</span>
            <span class="material-symbols-outlined">dark_mode</span>
        </div>
    </section>

    {% block content %}
   

    {% endblock %}
</body>
</html>