{% extends 'main/base.html' %}
{% block title %} {% endblock %}
{% block pageimg %}contact_background{% endblock %}
{% block page %}contact{% endblock %}

{% block style %}
 
<style>
    body{
        background-image: url(/static/image/email.jpg);
            height: 50%;
            background-size: 100% 90%;
            background-repeat: no-repeat;
    }
</style>

{% endblock %}

{% block content %}

<h1 class="contact_main"> Contact us</h1>


<div class="map_container">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.3424709696255!2d46.64363536280688!3d24.81795920460351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee40eefcb6a9d%3A0xbc4308498520f827!2z2LfYsdmK2YIg2KPZhtizINin2KjZhiDZhdin2YTZg9iMINin2YTYsdmK2KfYtg!5e0!3m2!1sar!2ssa!4v1709576809799!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<p class="contact_detiles"> TELEPHONE : <span><a href="/">+996 57263883764</a></span></p>
<p class="contact_detiles"> EMAIL : <span><a href="/">info@realeastate.com</a></span></p>
<p class="contact_detiles">ADDRESS :</p>
<p class="address"> anas bin malik , riyadh
bulding w-112
saudi arabia </p>





{% endblock %}