{% extends 'main/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block style %}
 
<style>
    body{
        background-image: url(/static/image/skyscraper.jpeg);
            background-size: 100% 90%;
            background-repeat: no-repeat;
            object-fit: cover;
    }
</style>

{% endblock %}
{% block content %}

<main class="content">

    <h1>FIND YOUR DREAMS</h1>
</main>
    
    <p class="content">Our catalog will surprise you. Rather, 
        discover an unprecedented offers of luxury properties. 
        Our catalog will surprise you. Rather, discover an 
        unprecedented offers of luxury properties</p>
    <a href="{% url 'main:properties_page' %}"><button class="home_button" type="button">Expolore properties </button></a> 
 

<div class="footer"
    <div class="footer-icon">
        <div class="icon">
            <a id = "icon-green"href=""><span class="material-symbols-outlined">house</span></a>
            <a id="icon-brown"href=""><span class="material-symbols-outlined">factory</span></a>
            <a id="icon-pink"href=""><span class="material-symbols-outlined">hotel</span></a>
            <a id="icon-blue"href=""><span class="material-symbols-outlined">villa</span></a>
        </div>
        <div class="icon-colors">
            <a class="green" href="">ALL</a>
            <a class="brown" href="">PROPERTIES</a>
            <a class="pink" href="">HOTEL</a>
            <a class="blue" href="">VILLA</a>
        </div>
    </div>
</div>
{% endblock %}